<a title="Add Customer" (click)="openDialog()" class="float-button">
  <mat-icon>add</mat-icon>
</a>
<div class="example-card">
  <ng-container *ngFor="let customer of customers">
    <p-card
      [header]="customer.first_name"
      [subheader]="customer.last_name"
      [style]="{ width: '360px' }"
      styleClass="p-card-shadow"
    >
      <p-avatar
        [image]="customer.thumnail_url"
        shape="circle"
        size="xlarge"
        [style]="{ float: 'right', position: 'relative', top: '-90px' }"
      ></p-avatar>
    </p-card>
  </ng-container>
</div>
