<mat-card>
  <mat-card-content>
    <div class="trans-table-header">
      <mat-card-title>Towing Vans</mat-card-title>
      <div></div>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        class="actions"
        title="Add Towing Van"
        (click)="openDialog()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- van_name Column -->
        <ng-container matColumnDef="van_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Van Name</th>
          <td mat-cell *matCellDef="let element">{{ element.van_name }}</td>
        </ng-container>

        <!-- driver_name Column -->
        <ng-container matColumnDef="driver_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</th>
          <td mat-cell *matCellDef="let element">{{ element.driver_name }}</td>
        </ng-container>

        <!-- van_number Column -->
        <ng-container matColumnDef="van_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Van Number</th>
          <td mat-cell *matCellDef="let element">{{ element.van_number }}</td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="actions"
              title="Update Towing Van"
              (click)="editTowingVan(element.van_id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="actions"
              title="Add Towing Van"
              (click)="deleteTowingVan(element.van_id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="no-records-container" *ngIf="towingVans.length === 0">
        <button mat-icon-button class="actions">
          <mat-icon>info</mat-icon></button
        >No Records Found
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
