<div>
  <h1 mat-dialog-title>Add Transaction</h1>
  <div mat-dialog-content>
    <div [formGroup]="transactionGroup">
      <app-mh-select
        label="Product Name"
        [formGroup]="transactionGroup"
        control="product_id"
        id="product_id"
        [items]="products"
      ></app-mh-select>
      <app-mh-select
        label="Transaction Type"
        [formGroup]="transactionGroup"
        control="transaction_type"
        id="transaction_type"
        [items]="transTypes"
      ></app-mh-select>
      <app-mh-select
        label="Transaction Status"
        [formGroup]="transactionGroup"
        control="transaction_status"
        id="transaction_status"
        [items]="transStatus"
      ></app-mh-select>

      <!-- DATE PICKER -->
      <mat-form-field appearance="fill">
        <mat-label>Transaction Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="start_date"
          formControlName="start_date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="start_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #start_date></mat-datepicker>
      </mat-form-field>

      <!-- DATE PICKER -->
      <mat-form-field appearance="fill">
        <mat-label>Transaction End Date</mat-label>
        <input
          matInput
          [matDatepicker]="end_date"
          formControlName="end_date"
          [disabled]="isTransEndDateEnabled"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="end_date"
        ></mat-datepicker-toggle>
        <mat-datepicker #end_date></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
