.image-cropper-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

image-cropper {
  height: 25vh;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
