<mat-card>
  <mat-card-content>
    <div class="trans-table-header">
      <mat-card-title>Products</mat-card-title>
      <div></div>
      <button
        mat-icon-button
        class="actions"
        title="Add Product"
        (click)="openDialog()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- product_name Column -->
        <ng-container matColumnDef="product_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
        </ng-container>

        <!-- brand_name Column -->
        <ng-container matColumnDef="brand_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
          <td mat-cell *matCellDef="let element">{{ element.brand_name }}</td>
        </ng-container>

        <!-- category_name Column -->
        <ng-container matColumnDef="category_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let element">
            {{ element.category_name }}
          </td>
        </ng-container>

        <!-- model_year Column -->
        <ng-container matColumnDef="model_year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Model Year</th>
          <td mat-cell *matCellDef="let element">{{ element.model_year }}</td>
        </ng-container>

        <!-- list_price Column -->
        <ng-container matColumnDef="list_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>List Price</th>
          <td mat-cell *matCellDef="let element">
            {{ element.list_price }}
          </td>
        </ng-container>

        <!-- model_number Column -->
        <ng-container matColumnDef="model_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Model No.</th>
          <td mat-cell *matCellDef="let element">
            {{ element.model_number }}
          </td>
        </ng-container>

        <!-- owner_name Column -->
        <ng-container matColumnDef="owner_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
          <td mat-cell *matCellDef="let element">{{ element.owner_name }}</td>
        </ng-container>

        <!-- rc_number Column -->
        <ng-container matColumnDef="rc_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>RC Number</th>
          <td mat-cell *matCellDef="let element">{{ element.rc_number }}</td>
        </ng-container>

        <!-- chassi_number Column -->
        <ng-container matColumnDef="chassi_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Chassi Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.chassi_number }}
          </td>
        </ng-container>

        <!-- vehicle_number Column -->
        <ng-container matColumnDef="vehicle_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Vehicle Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.vehicle_number }}
          </td>
        </ng-container>

        <!-- active Column -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="primary"
              *ngIf="element.active === 1"
            >
              <mat-icon>verified</mat-icon>
            </button>
            <button mat-icon-button color="warn" *ngIf="element.active === 0">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- store_name Column -->
        <ng-container matColumnDef="store_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Store Name</th>
          <td mat-cell *matCellDef="let element">{{ element.store_name }}</td>
        </ng-container>

        <!-- designation  Column -->
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
          <td mat-cell *matCellDef="let element">{{ element.designation }}</td>
        </ng-container>

        <!-- manager_name Column -->
        <ng-container matColumnDef="manager_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Manager Name
          </th>
          <td mat-cell *matCellDef="let element">{{ element.manager_name }}</td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="primary"
              class="actions"
              title="Update Garage"
              (click)="editProduct(element.product_id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              color="warn"
              mat-icon-button
              class="actions"
              title="Delete Garage"
              (click)="deleteProduct(element.product_id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="no-records-container" *ngIf="staffs.length === 0">
        <button mat-icon-button class="actions" color="basic">
          <mat-icon>info</mat-icon></button
        >No Records Found
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
