<mat-card>
  <mat-card-content>
    <div class="trans-table-header">
      <mat-card-title>Transactions</mat-card-title>
      <div></div>
      <button
        mat-icon-button
        class="actions"
        title="Add Transaction"
        (click)="openDialog()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- start_date Column -->
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.start_date }}</td>
        </ng-container>

        <!-- product_name Column -->
        <ng-container matColumnDef="product_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
          <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
        </ng-container>

        <!-- transaction_type Column -->
        <ng-container matColumnDef="transaction_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transaction_type }}
          </td>
        </ng-container>

        <!-- transaction_status Column -->
        <ng-container matColumnDef="transaction_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.transaction_status }}
          </td>
        </ng-container>

        <!-- invoice_number Column -->
        <ng-container matColumnDef="invoice_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Invoice Number
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.invoice_number }}
          </td>
        </ng-container>

        <!-- trans_amount Column -->
        <ng-container matColumnDef="trans_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.trans_amount }}</td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="actions"
              title="Update Transaction"
              (click)="editTransaction(element.transaction_id)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              class="actions"
              title="Delete Transaction"
              (click)="deleteTransaction(element.transaction_id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="no-records-container" *ngIf="stores.length === 0">
        <button mat-icon-button class="actions">
          <mat-icon>info</mat-icon></button
        >No Records Found
      </div>
    </div>
  </mat-card-content>
</mat-card>
